<a href="https://colab.research.google.com/github/dhiman-A/Scaler-Learning-Resources/blob/main/Module%202%20introduction%20to%20programming/004_control_statements_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem Description:**Class Performance 2![flow-CHART.png]()

You have been given a dataset for marks of 2 subjects, scored by students of classes ClassA and ClassB. You now want to compare the performances of class A and class B by finding out the average performance of the classes. Write a program to find if class A performed better. Print True is Class A is strictly better else return False.


**Input Format**

There are 4 lines in the input.
The first and second lines are marks of subjects for Class A.
The third and fourth lines are marks of subjects for Class B.


**Output Format**

Print True if class A is strictly better else False.


**Example Input**

Input 1:-
80
27
54
61
Input 2:-
54
61
80
27


**Example Output**

Output 1:-
False
Output 2:-
True

In [2]:
def class_performance(a, b):
  try:
    if a > b:
      return True
    else:
      return False
  except:
    print("Enter valid input")
a = int(input("Enter marks for subject 1 fo class A: "))
b = int(input("Enter marks for subject 2 fo class A: "))
av1 = (a+b)/2
c = int(input("Enter marks for subject 1 fo class B: "))
d = int(input("Enter marks for subject 2 fo class B: "))
av2 = (c+d)/2

print(class_performance(av1, av2))

Enter marks for subject 1 fo class A: 21
Enter marks for subject 2 fo class A: 32
Enter marks for subject 1 fo class B: 45
Enter marks for subject 2 fo class B: 37
False

**Problem Description:** Max of two

Write a program to input two numbers(A & B) from user and print the maximum element among A & B.


**Problem Constraints**

1 <= A <= 1000000

1 <= B <= 1000000



**Input Format**

First line is a single integer A.
Second line is a single integer B.



**Output Format**

One line containing the greater integer A or B.

In [3]:
try:
  a = int(input("Enter first number: "))
  b = int(input("Enter second number: "))
  print(max(a,b))
except:
  print("Enter valid input")

Enter first number: 32
Enter second number: 21
32

**Problem Description:**  Roller Coaster Ride

Write a program that takes the age of the user as input and tells them if they're old enough to ride a roller coaster. The minimum age to ride the roller coaster in this question is 13.


**Input Format**

There is only 1 single line in the input, which is the age of the user.


**Output Format**

Print the following if user can ride the roller coaster:
You can ride the roller coaster!
Print the following if user can't ride the roller coaster:
You can't ride the roller coaster.


**Example Input**

Input 1:-
9
Input 2:-
13


**Example Output**

Output 1:-
You can't ride the roller coaster.
Output 2:-
You can ride the roller coaster!

In [4]:
age = int(input("Enter age: "))
if age >= 13:
  print("You can ride the roller coaster!")
else:
  print("You can't ride the roller coaster.")

Enter age: 45
You can ride the roller coaster!

The following flowchart is given. What would be the output if Temp=19?

![FLOW CHART](https://drive.google.com/uc?id=1gA5VAPRuK1ZJWjPU_DI8O6QAVCQs6Tzc)

In [5]:
temp = float(input("Enter temperature: "))
if temp < 32:
  print("Below Freezing")
else:
  print("Above Freezing")

Enter temperature: 25
Below Freezing

In [6]:
# What will be the output of the following code:

x = 2
if x==2:
    x = 3
x = 4
else:
    x = 5
print(x)

SyntaxError: invalid syntax (<ipython-input-6-e1b5603659ab>, line 7)

In [8]:
#You have been given the following piece of code. Assume that x has already been declared.
x=7
if x > 2:
    x = x*2
if x > 4:
    x = 0
print(x)
#Answer: if x>2, the output will bw 0

0

**Problem Description:** Angles Of Valid Triangle

You are given 3 integer angles(in degrees) A, B and C of a triangle. You have to tell whether the triangle is valid or not.

A triangle is valid if sum of its angles equals to 180.

NOTE: You have to take the input of 3 sides of triangle from the user.


**Problem Constraints**

1 <= A, B, C <= 180



**Input Format**

First line of the input contains an integer A.

Second line of the input contains an integer B.

Third line of the input contains an integer C.



**Output Format**

Print 1 if the triangle having given sides is valid, else print 0.

In [9]:
a = int(input("Enter angle A: "))
b = int(input("Enter angle B: "))
c = int(input("Enter angle C: "))
if a+b+c == 180:
  print(1)
else:
  print(0)

Enter angle A: 45
Enter angle B: 90
Enter angle C: 45
1

**Problem Description:** Profit Or Loss

You are given the Cost Price C and Selling Price S of a Product. You have to tell whether there is a Profit or Loss. Also, calculate total profit or loss.

NOTE: It is guaranteed that Cost Price and Selling Price are not equal.

NOTE: You have to take input of the Cost Price(C) and Selling Price(S) from the user.



**Problem Constraints**

1 <= C, S <= 109

C â‰  S



**Input Format**

First line of the input contains a single integer C.

Second line of the input contains a single integer S.



**Output Format**

Print two integers in separate lines.

First integer denotes whether there is a profit or loss. If there is a profit, print 1, else print -1.

Second integer is a non-negative integer denoting the absolute value of total profit or loss.



**Example Input**

Input 1:

 2
 4
Input 2:

 4
 1


**Example Output**

Output 1:

 1
 2
Output 2:

 -1
 3

In [14]:
cp = int(input("Enter cost price: "))
sp = int(input("Enter selling price: "))
if cp < sp:
  print(1, '\n', sp-cp)
elif cp > sp:
  print(-1, '\n', cp-sp)

Enter cost price: 45
Enter selling price: 2
-1
 43

**Problem Description:** Min of two

Write a program to input two numbers(A & B) from user and print the minimum element among A & B in each line.


**Problem Constraints**

1 <= A <= 1000000

1 <= B <= 1000000



**Input Format**
First line is a single integer A.
Second line is a single integer B.



**Output Format**
One line containing an integer as per the question.



**Example Input**

Input 1:

5
6
Input 2:

1000
10000


**Example Output**

Output 1:

5
Output 2:

1000

In [16]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print(min(a,b))

Enter first number: 45
Enter second number: 32
32

In [17]:
# What will be the result of this:
a = 1
b = 2
c = 3
if a > b:
    if a > c:
        print(a)
    else:
        print(c)
else:
    if b > c:
        print(b)
    else:
        print(c)

3