<a href="https://colab.research.google.com/github/dhiman-A/Scaler-Learning-Resources/blob/main/Module%202%20introduction%20to%20programming/007_while_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem Description:** Floor A/B
Given two numbers A and B. Print the floor of A/B.

**Problem Constraints**
1 <= A, B <= 104


**Input Format**

There are two input lines

The first line has a single integer A.
The second line has a single integer B.


**Output Format**
Print the floor of A/B in a single line.


Example Input

Input 1:-
4

5

Input 2:-

16

2


Example Output

Output 1:-
0

Output 2:-
8

In [1]:
a = int(input())
b = int(input())
print(a//b)

16
2
8

**Problem Description:** Even game

Write a program to print all even numbers from 1 to N where you have to take N as input from the user.
Note: Use while-loop OR for-loop, according to session flow.

Note: You can use int(input()) for obtaining user input of number N.

**Problem Constraints**

1 &lt;= N &lt;= 1000000

**Input Format**

A single line representing N

**Output Format**

All even numbers from 1 to N are separated by spaces.

**Example Input**

Input 1:
5

Input 2:
10

**Example Output**

Output 1:
2 4

Output 2:
2 4 6 8 10

In [2]:
n = int(input())
i = 1
while i <= n:
    if i % 2 == 0:
        print(i, end = " ")
    i += 1

24
2 4 6 8 10 12 14 16 18 20 22 24

**Problem Description:** Odd game

Write a program to print all odd numbers from 1 to N where you have to take N as input from the user.
Note: Use while-loop OR for-loop, according to session flow.

Note: You can use int(input()) for obtaining user input of number N.

**Problem Constraints**

1 &lt;= N &lt;= 1000000

**Input Format**

A single line representing N

**Output Format**

All odd numbers from 1 to N are separated by spaces.

**Example Input**

Input 1:
5

Input 2:
10

**Example Output**


Output 1:

1 3 5

Output 2:

1 3 5 7 9

In [3]:
n = int(input())
i = 1
while i <= n:
    if i % 2 != 0:
        print(i, end = " ")
    i += 1

23
1 3 5 7 9 11 13 15 17 19 21 23

**Problem Description:** Multiples of 4
Given an integer input N, print all multiples of 4 less than or equal to N.

**Problem Constraints**
1 <= N <= 10000


**Input Format**
Single line containing an integer N.


**Output Format** Space separated integers representing multiples of 4 less than or equal to N.


**Example Input**
22


**Example Output**
4 8 12 16 20

In [4]:
n = int(input())
i = 4
while i <= n:
    print(i, end = " ")
    i += 4

24
4 8 12 16 20 24

**Problem Description** print perfect squares

Take an input of a number A from the user. Print all perfect squares less than or equal to A.
Note - Perfect squares are integers whose square root is an integer. (For Example: 16 is perfect square as âˆš16 = 4, or 42 = 16)


**Problem Constraints**

1 <= A <= 104



**Input Format**

A single line consisting of a integer A.



**Output Format**

Print perfect squares less than or equal to A in a single line in a space-separated manner.



**Example Input**

Input 1: 20

Input 2: 100

**Example Output**

**Output 1:** 1 4 9 16

**Output 2:** 1 4 9 16 25 36 49 64 81 100

In [6]:
n = int(input())
i = 1
while i*i <= n:
    print(i*i, end = " ")
    i += 1

32
1 4 9 16 25

**Problem Description:** Easy power

You are given two integers A and B. You have to find the value of AB.

NOTE: The value of AB will always be less than or equal to 109.


**Problem Constraints**

1 <= A, B <= 1000



**Input Format**

First line of the input contains a single integer A.

Second line of the input contains a single integer B.



**Output Format**

Print a single integer in single line.



**Example Input**

Input 1:

 2

 3

Input 2:

 1

 10


**Example Output**

Output 1: 8

Output 2: 1

In [7]:
a = int(input())
b = int(input())
print(a**b)

2
3
8

**Problem Description:** Multiplication table

Take a number A as input, print its multiplication table having the first 10 multiples.


**Problem Constraints**
1 <= A <= 1000



**Input Format**
First line contains a single integer A.



**Output Format**
Print 10 lines, ith line containing ith multiple.



**Example Input**

Input 1:

 2

**Example Output**

Output 1:

 2 * 1 = 2

 2 * 2 = 4

 2 * 3 = 6

 2 * 4 = 8

 2 * 5 = 10

 2 * 6 = 12

 2 * 7 = 14

 2 * 8 = 16

 2 * 9 = 18

 2 * 10 = 20

In [8]:
a = int(input())
i = 1
while i <= 10:
    print(a, "*", i, "=", a*i)
    i += 1

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**Exponent using while loop**

Complete the following code snippet in order to find the exponent, i.e. the number of times base should be multiplied by itself to get num.
```
num=16
base=4
cnt=0
while(num>1):
  ?????
  cnt+=1
print(cnt)
```

In [9]:
num=16
base=4
cnt=0
while(num>1):
  num=num/base
  cnt+=1
print(cnt)

2

**Problem Description:** Count the digits

Take T (number of test cases) as input.
For each test case, take integer N as input and Print the count of digits of that number.

Note: No of digits for number 0 is considered as 1.

**Problem Constraints**

1 <= T <= 100
0 <= N <= 100000000

**Input Format**

The first line is the number T which denotes the total number of test cases.
Next T lines contain an integer N for which you have to print the number of digits.

**Output Format**

For T different Numbers, Print the number of digits in separate lines.
Example Input

**Input 1:**
2
0
1

**Input 2:**

2

100

10101

**Example Output**

Output 1:
1

1

Output 2:

3
5

In [11]:
L = int(input())
for i in range(0,L):
  li=int(input())
  print(len(str(li)))

3
2
1
3
1
2134
4

**Problem Description:** Sum the digits
You take a number of test cases, denoted by T as input.For each test case, you should take integers N as input. Your task is to calculate and print the sum of the digits of the given number N.

**Problem Constraints**

1 <= T <= 1000

0 <= N <= 100000000

**Input Format**

The first line is T which means the total number of test cases.
Each of the next T lines contain an integer N.

**Output Format**

T lines each containing one integer representing the sum of the digits of the input integer.

**Example Input**

Input 1:
2

5

1001

Input 2:
2

123

1589

**Example Output**

Output 1:

5

2

Output 2:

6

23

In [12]:
l = int(input())
for i in range(0,l):
  li=int(input())
  sum=0
  while(li>0):
    sum=sum+li%10
    li=li//10
  print(sum)

2
234
9
1
1